$background: #FCFDFF;
$primary: #010440;
$primaryDark: #010326;
$primaryGrey: #626993;
$properText: #000215;
$lightWhite: #F5F5FA;
$action: #0410F1;
$inputBg:#EBECFF;
$inputBorder: #E2E8F0;
$disabled: #A3ACBF;
$labelText: rgba(13, 13, 13, 0.6);
$activeText: #0d0d0d;
$actionButton: #463e79;
$disabledDark: #4C5273;
$disabledDarker: #647290;
$success: #219653;
$fail: #DB3236; 
